<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
		</head>
		<body>
			<nav>
	    		<ul>	
				<li><a href="/">home</a></li>
	        		<li><a href="http://skreynolds.com/">personal site</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:shane.k.reynolds@gmail.com">email</a></li>
	        		<li><a href="https://github.com/skreynolds">github.com/skreynolds</a></li>
				</ul>
			</footer>
		</body>
	</html>
